<div class="form">
    <form action="/reset" method="POST">
    <h2 class="text-center">Reset Password</h2>
    <input type="email" name="email" placeholder="email">
    <div class="text-align">
        <button type="submit"> Reset</button>
    </div>
    </form>
</div>