
      
      <h1>About Cupedia</h1>
      <div class="about">
        <p>
          <i>"Cupedia"</i> is a place, where you can browse some of the most popular rubik cubes in the world and add
         
      </div>
    