

      <h1>{{cube.name}}</h1>
      <img class="cube" src="{{cube.imageUrl}}">
      <div class="details">
        <p><span>Description:{{cube.des}}</span></p>
        <p><span>Difficulty level:{{cube.diff}}</span></p>
        <a class="btn" href="/">Back</a>
      </div>
   